.body{
    background-color: teal;
}
.a {
    
    display: flex;
    /*background-image: url(../landing_page/images/logo.png);
    background-repeat: space;
    background-position: bottom;*/
    background-color: transparent;
    color:rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    
}
.logo {
    display: flex;
    height: 24px;
    margin: 0px;
    padding: 1px;
    align-content: space-around;
    justify-items: center;
 
}

.nav{
    display:flex;
    width: 100%;
    background-image: url(../landing_page/images/water.jpg);
    list-style: none;
   justify-content: flex-end;
    gap: 110px;
    
   

    
}
.blog{
    display: flex;
    background-color: teal;
   /* background-image: url(../landing_page/images/water.jpg);
    background-size: auto;*/
   
    
}
.footer{
    display: flex;
    background-color: darkblue;
}