.a {   
    display: flex;
    background-color: transparent;
    color:rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
    
}
.logo {
    display:flex;
    align-items: center;
    justify-content:center;
    align-items: center;
    padding-inline-start: 220px;
    margin: 25px 0px 25px;
}
.h1{
    display: flex;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:center;
    align-items:center;
    color:#f9faf8;
    
}
.nav{
    display:flex;
    width: 100%;
    background-color: #1f2937;
    list-style: none;
    justify-content: center;
    align-items:center;
    color: #E5E7EB;
    gap: 100px;
    align-content: center;
     
    
}
.blog{
    display: flex;
    flex-direction: column;
    background-color:#1f2937;
    padding-bottom: 100px;
    width: 100%;
}
.p1, .p2, .p3 {
    display: flex;
    color: #f9fAf8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0px 20px;
    padding-inline-start: 220px;
}

.p1 {
    font-size: 48px;
    font-weight:bolder;
    padding-top: 100px;
}
.p2, .p3 {
    font-size: 18px;
    margin-top:-20px;
    
}
.button{
    display: flex;
    width: 100px;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #3882F6;
    height: 30px;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    margin-inline-start: 230px;
}    
.button:visited{
    color:whitesmoke;
}
.button:active{
    position:relative;
    top: 1px;
}
.Image_h{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: whitesmoke;
    align-content: center;
    height: 300px;
    width: 40%;
    transform:scale(75%);
    margin-top: -230px;
    margin-inline-start: 780px;
}    
.Schaukasten {
    display: flex;
    flex-direction: row;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    
}
.h1_2{
    display: flex;
    color:#1f2937;
    font-size: 36px;
    font-weight: bolder;
    align-items: center;
    justify-content:center;
    text-align: center;
   
   
    
}
.p4{
    display:flex;
    flex-direction: row;
    font-size: 18px;
   /* margin: 10px 10px 10px;*/
    margin-top: 120px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    align-items: center;
    
}
.quotes{
    display: flex;
    width: 100%;
    background-color: #E5E7EB;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    height: 200px;
    font-weight: lighter;
}
.sign_u{
    display: flex;
    flex-direction: row;
    width:50%;
    height: 200px;
    background-color: #3882F6;
    justify-content:center;
    align-items: center;
    /*position:relative;
    margin: 50px;
    padding: 0px;*/
    margin-inline-start: 360px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:#E5E7EB;
    font-size: 36px;
    transform:scale(80%);
}
.button_2{
    display: flex;
    width: 100%;
    font-weight: bolder;
    border-radius: 50%;
    border-color: whitesmoke;
    border: solid;
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 5%;
    margin-inline-start: 152px;
    margin-top: -80px;
    text-decoration: none;
}    
.button_2:visited{
    color:whitesmoke;
}
.button_2:active{
    position:relative;
    top: 1px;
}
.footer{
    display:flex;
    width: 100%;
    background-color: #1f2937;
    list-style: none;
    justify-content: space-evenly;
    align-items:center;
    font-size: 24px;
    color: whitesmoke;
}