.body{
    background-color: rgb(22, 56, 78);
}
.a {
    
    display: flex;
    /*background-image: url(../landing_page/images/logo.png);
    background-repeat: space;
    background-position: bottom;*/
    background-color: transparent;
    color:rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    
}
.logo {
    display: flex;
    height: 24px;
    flex-direction:column;
    /*justify-items:flex-start center space-evenly;*/
    align-items: flex-start center;
 
}

.nav{
    display:flex;
    width: 100%;
    margin: 10px 0px;
    padding: 0px; 
    background-image: url(../landing_page/images/water.jpg);
    list-style: none;
    justify-content: right;
    gap: 80px;
    
   

    
}
.blog{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 33, 58);
    /*align-items: flex-end;
    color: #e5e7eb;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;*/
    /*padding: auto;
    background-image: url(../landing_page/images/water.jpg);
    background-size: auto;*/

   
    
}
.p1 {
    display: flex;
    color: #f9fAf8;
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
    /*justify-content: flex-start center space-evenly;
    align-items: flex-start center space-evenly;*/
}
.p2, .p3 {
    display: flex;
    color: #f9fAf8;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    /*justify-content: flex-start center space-evenly;
    align-items: flex-start center space-evenly;*/
}    
.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}